@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');

* { margin: 0; padding: 0; }

html {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Merienda', cursive;
  background-color: #f7efd4;
  color: #a22c27;
  height: 100%;
  width: 100%;
}

.wrapper {
  height: calc(100% - 150px);
  width: calc(100% - 100px);
  padding: 50px 50px 0 50px;
}

svg#tree {
  height: 100%;
  width: 100%;
}

path {
  stroke-width: 2px;
  fill: none;
}

path.circle {
  stroke: #a22c27;
}

path.trunk {
  stroke: #929867;
}

path.letter {
  stroke: #a22c27;
}